h1 {
  opacity: .8;
}

.nav{
  font-family: 'lato', sans-serif;
}
h2{
  font-size: 60px;
  text-align: center;
  font-family: 'lato', sans-serif;
}

#brandName{
  font-size: 15px;
}

#Contact{
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}

#footerText{
  font-size: 15px;
}

#contactDetails{
  font-size: 15px;
  font-family: Georgia;
}

.glyphicon{
  font-size: 60px;
  padding-right: 10px;
}

.jumbotron{
  font-family: 'lato', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  opacity: .9;
  padding-left: 100px;
  padding-right: 100px;
}

.nav{
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
font-size: 15px;
text-align: center;
}

#inputBar{
  margin-top: 10px;
}

#title{
font-family: 'lato', sans-serif;
padding-left: 50px;
letter-spacing: 5px;
font-weight: bold;
text-align: left;
font-size: 50px;
padding-top: 20px;
padding-bottom: 20px;
color: grey;
background-color: lightgrey;
text-shadow: 0px 15px 25px white;
}

#p1{
  font-size: 15px;
font-family: 'Lato', sans-serif;
}

#p2{
  font-size: 25px;
  font-family: 'lato', sans-serif;
}

.head{
  margin-top: 50px;
}

.container{
  background-color: white;
}


body {
background-image: url(backgroundimage.jpeg);
margin: 0 auto;
padding: 0px 10px 0px 10px;
width: 100%;
text-align: center;
}

p {
font-family: 'lato', sans-serif;
 letter-spacing: 1px;
  color: grey;
  font-size: 10px;
}

#pageOne{
 width: auto;
 height: 100px;
}

ul{
  font-size: 20px;
  font-style: italic bold;
}
.footer{
  opacity: .8
  width: 90%
  background-color: lightblue;
}

.nav.navbar-nav.navbar-inverse {
  margin-left: 30px;
}


.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar-right{
  background-color: black;
  padding-right: 20px;
}

#smallerGlobe{
  font-size: 20px;
}

    .form-label-left{
        width:150px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    body, html{
        margin:0;
        padding:0;
        background:#4e4e4e;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:690px;
        color:#cccccc !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }

.form-label.form-label-auto { display: block; float: none; text-align: left; width: inherit; } 
    .form-all {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Lucida Grande, sans-serif;
    }
    .form-header-group {
      font-family: Lucida Grande, sans-serif;
    }
    .form-label {
      font-family: Lucida Grande, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  
    .form-all {
      width: 690px;
    }
  
    .form-label-left,
    .form-label-right,
    .form-label-left.form-label-auto,
    .form-label-right.form-label-auto {
      width: 150px;
    }
  
    .form-all {
      font-size: 14px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 14px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 14px
    }
  
    .supernova {
      background-color: #3e3e3e;
    }
    .supernova body {
      background: transparent;
    }
  
    .supernova .form-all, .form-all {
      background-color: #4e4e4e;
      border: 1px solid transparent;
    }
  
    .form-all {
      color: #cccccc;
    }
    .form-header-group .form-header {
      color: #cccccc;
    }
    .form-header-group .form-subHeader {
      color: #cccccc;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #cccccc;
    }
    .form-sub-label {
      color: #e6e6e6;
    }
  
    .form-textbox,
    .form-textarea,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #3e3e3e;
    }
  
    .form-line-error {
      overflow: hidden;
      .transition(none; 0.3s; ease;);
      background-color: rgba(255, 50, 0, 0.6);
    }

    .form-line-error .form-error-message {
      background-color: #FF3200;
      //width: 150px;
      clear: both;
      float: none;
      .form-error-arrow {
        border-bottom-color: #FF3200;
      }
    }

    .form-line-error input:not(#coupon-input),
    .form-line-error textarea,
    .form-line-error .form-validation-error {
      border: 1px solid #FF3200;
      .box-shadow(0 0 3px #FF3200);
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }


