h1 {
  opacity: .8;
}

.nav{ 
  font-family: 'lato', sans-serif;
} 


.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

h2{
  font-size: 60px;
  text-align: center;
  font-family: 'lato', sans-serif;
}
 
#brandName{
  font-size: 15px;
}

#Contact{
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
}

#footerText{
  font-size: 15px;
}

#contactDetails{
  font-size: 15px;
  font-family: Georgia;
}

.glyphicon{
  font-size: 60px;
  padding-right: 10px;
} 

.jumbotron{
  font-family: 'lato', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  opacity: .9;
  padding-left: 100px;
  padding-right: 100px;
}

.nav{
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
font-size: 15px;
text-align: center;
}

#inputBar{
  margin-top: 10px;
}

#title{
font-family: 'lato', sans-serif;
padding-left: 50px;
letter-spacing: 5px;
font-weight: bold;
text-align: left;
font-size: 50px;
padding-top: 20px;
padding-bottom: 20px;
color: grey;
background-color: lightgrey;
text-shadow: 0px 15px 25px white;
}

#p1{
  font-size: 15px;
font-family: 'Lato', sans-serif;
}

#p2{
  font-size: 25px;
  font-family: 'lato', sans-serif;
}

.head{
  margin-top: 50px;
}

.container{
  background-color: white;
}


body {
background-image: url(backgroundimage.jpeg);
margin: 0 auto;
padding: 0px 10px 0px 10px;
width: 100%;
text-align: center;
}

p {
font-family: 'lato', sans-serif;
 letter-spacing: 1px;
  color: grey;
  font-size: 10px;
}

#pageOne{
 width: auto;
 height: 100px;
}

ul{
  font-size: 20px;
  font-style: italic bold;
}
.footer{
  opacity: .8
  width: 90%
  background-color: lightblue;
}

.nav.navbar-nav.navbar-inverse {
  margin-left: 30px;
}


.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar-right{
  background-color: black;
  padding-right: 20px;
}

#smallerGlobe{
  font-size: 20px;
}



.comment_form {
	padding: 40px;
	background: #dfdcdf url("../img/form-bg.png") repeat;
	margin-left: 33px;
	margin-right: 15px;
	margin-bottom: 0px;
}
.comment_form fieldset {
	margin-left: -20px;
	margin-right: 2px;
} 

.comment_form input {
	/* Positioning & Display */
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	padding-left: 15px;
	/* Elemants */
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #e4e2e2;
}
.comment_form textarea {
	/* Positioning & Display */
	width: 100%;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 12px;
	/* Elemants */
	border: 1px solid #e4e2e2;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
	color: #464646;
	font: 14px 'Droid Sans', sans-serif;
}
input:-moz-placeholder , textarea:-moz-placeholder{ /* Firefox 18- */
	color: #464646;
	font: 14px 'Droid Sans', sans-serif;
}
input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #464646;
	font: 14px 'Droid Sans', sans-serif;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {  
	color: #464646;
	font: 14px 'Droid Sans', sans-serif;
}

.send-button a, .send-button a:hover {
	/* Text */
	font: 1.4em 'Droid Sans', sans-serif; /* 14px/10 */
	font-weight: normal;
	letter-spacing: -0.5px;
	color: white;
	text-decoration: none;
	margin-right: -20px;
	/* Positioning & Display */
	padding: 10px 35px;
	display: inline-block;
	position: relative;
	margin-right: -20px;
	/* Elemants */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	/* Color */
	background-color: #0093d0;
}

.comment_form ul {
	margin-left: 5px;
	margin-top: -15px;
	margin-bottom: 5px;
}
.comment_form li {
	list-style-type: none;
	font-size: 1.2em; /* 12px/10 */
	color: red;
	margin-left: -3px;
	margin-top: -5px;
}
